/* GroupBegin Global */
body:before {
  content: "480";
}

.show480 {
  display: block;
}

.hide480 {
  display: none;
}

.cs-global-icons {
  display: block;
  padding: 28px 0;
}
.cs-global-icons li {
  width: auto;
  display: block;
}
.cs-global-icons li a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 11px 16px;
}
.cs-global-icons li a:hover, .cs-global-icons li a:focus {
  padding-top: 11px;
}
.cs-global-icons li a:hover .icon, .cs-global-icons li a:focus .icon {
  margin-bottom: 0;
}
.cs-global-icons .icon {
  font-size: 2.2rem;
  margin-bottom: 0;
  width: 42px;
  text-align: center;
  margin-right: 17px;
}
.cs-global-icons .text {
  max-width: none;
  text-align: left;
}

.hp-row .content-wrap,
.content-wrap {
  padding: 0 16px;
}

/* GroupEnd */
/* GroupBegin Header */
.header-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-column.two {
  display: block;
  padding-top: 18px;
}

#gb-channel-bar {
  margin-bottom: 11px;
}

.cs-mystart-dropdown.translate {
  position: relative;
}
.cs-mystart-dropdown.translate .cs-dropdown-selector {
  width: auto;
}

#gb-header {
  padding-top: 20px;
}

#gb-sitename {
  text-align: center;
}
#gb-sitename p {
  line-height: 1.1;
  margin-top: 5px;
}

#gb-logo {
  padding-right: 0;
  margin-bottom: 10px;
}

#gb-channel-bar {
  padding-right: 0;
}

/* GroupEnd */
/* GroupBegin Footer */
.footer-row.one {
  padding-top: 48px;
  padding-left: 8px;
  padding-right: 8px;
}
.footer-row h2 {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 20px;
}
.footer-row .show480 {
  display: block;
}

.footer-links {
  padding-left: 8px;
  padding-right: 8px;
}
.footer-links li {
  margin: 0;
}

/* GroupEnd */
/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
.ui-hp div.ui-widget.app div.ui-widget-header {
  font-size: 1.5rem;
}

#hp-slideshow-outer #hp-slideshow .mmg-control {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  color: #fff;
}
#hp-slideshow-outer #hp-slideshow .mmg-control::before {
  display: none;
}
#hp-slideshow-outer #hp-slideshow .mmg-control.play-pause {
  background: transparent;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  bottom: auto;
  left: auto;
}
#hp-slideshow-outer #hp-slideshow .mmg-control.play-pause.playing::after, #hp-slideshow-outer #hp-slideshow .mmg-control.play-pause.paused::after {
  font-size: 16px;
}
#hp-slideshow-outer #hp-slideshow .mmg-control.play-pause:hover, #hp-slideshow-outer #hp-slideshow .mmg-control.play-pause:focus {
  background: transparent;
  border-color: transparent;
}
#hp-slideshow-outer #hp-slideshow .mmg-control.next {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  right: auto;
  top: auto;
}
#hp-slideshow-outer #hp-slideshow .mmg-control.back {
  left: auto;
  top: auto;
}
#hp-slideshow-outer #hp-slideshow .mmg-description {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-title {
  font-size: 1.25rem;
  line-height: 1.6;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-caption {
  padding-top: 4px;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-link {
  margin-right: 0;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs-mmg-control-wrapper {
  background: #084F84;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hp-row .headlines .ui-articles {
  display: block;
  margin: 0;
}
.hp-row .headlines li {
  padding: 0;
}
.hp-row .headlines .cs-article-slider li {
  text-align: center;
}
.hp-row .headlines .cs-article-slider .ui-article-thumb {
  float: none;
  margin-right: 0;
}
.hp-row .headlines .cs-article-slider .ui-article-thumb .img {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 11px;
}
.hp-row .headlines .cs-article-slider .ui-article-thumb .img img {
  max-width: none !important;
  max-height: none !important;
}
.hp-row.five {
  padding-bottom: 60px;
}
.hp-row.six .hp-stats {
  display: block;
}
.hp-row.seven .hp-column.two {
  padding: 0;
}
.hp-row .fr-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-top: 45px;
}
.hp-row .fr-container * {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.hp-row .fr-row {
  padding: 15px;
}
.hp-row .fr-row.one {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 77px;
  padding-bottom: 10px;
}
.hp-row .fr-row.two {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background: #fff;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 48px;
}
.hp-row .fr-row.two a {
  background: #1072BF;
  display: block;
  padding: 14px 10px 15px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0px 0px 29px #00000034;
          box-shadow: 0px 0px 29px #00000034;
}
.hp-row .fr-image {
  position: relative;
  left: auto;
  top: auto;
  margin: 0 auto -54px;
}

.hp-row .app.upcomingevents .has-slider-controls h1 {
  margin-bottom: 2px;
}

.hp-row .app.upcomingevents .has-slider-controls .view-calendar-link {
  margin-bottom: 11px;
}

.hp-row .app.upcomingevents li {
  padding: 0 16px;
}

.hp-row .app.upcomingevents .ui-articles {
  margin: 0 -16px;
}

/* GroupEnd */
/* GroupBegin Subpage */
/* GroupEnd */