/* GroupBegin Global */
body:before {
  content: "768";
}

.show768 {
  display: block;
}

.hide768 {
  display: none;
}

.ui-column-one-quarter.region {
  width: 50%;
  float: left;
  clear: left;
}

.ui-column-one-third.region {
  width: 50%;
  float: left;
}

.ui-column-two-thirds.region {
  width: 50%;
  float: left;
}

.region.right {
  float: left;
}

.region.clearleft {
  clear: none;
}

.cs-global-icons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cs-global-icons li {
  width: 33.3333%;
}

.content-wrap {
  padding: 0 24px;
}

#gb-icons .content-wrap {
  padding: 0;
}

#gb-page {
  padding-top: 0 !important;
}

/* GroupEnd */
/* GroupBegin Header */
#gb-header {
  padding-top: 25px;
  padding-bottom: 24px;
  position: relative;
  height: auto !important;
}

#gb-sitename {
  top: auto !important;
}

.header-column.two {
  padding-top: 21px;
}

#sw-channel-list-container,
.cs-mystart-button.search {
  display: none;
}

#gb-channel-bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 0;
  padding-right: 15px;
}

#rs-menu-btn {
  font-size: 1rem;
  font-weight: 700;
  background: #fff;
  padding: 14px 18px 14px 18px;
  border-radius: 23px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
  border: 1px solid #fff;
  color: #1072BF;
  text-align: center;
  float: none;
}
#rs-menu-btn::before {
  display: none;
}
#rs-menu-btn span {
  padding: 0px 5px 0px 37px;
  position: relative;
}
#rs-menu-btn span::before {
  font-family: "template-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e90a";
  background: transparent;
  padding: 0;
  position: absolute;
  left: 5px;
  top: -2px;
  font-size: 19px;
  color: #1072BF;
}

.cs-mystart-dropdown.translate {
  position: relative;
  right: auto !important;
  bottom: auto;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

#gb-header .content-wrap {
  display: block;
}

/* GroupEnd */
/* GroupBegin Footer */
.footer-row .show768 {
  display: block;
}
.footer-row.two {
  padding-top: 10px;
}
.footer-row.two .content-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.footer-row p span {
  padding: 0 11px;
}

.sitemap-link {
  margin-right: 8px;
}

.cs-mystart-dropdown.user-options {
  margin-right: 0;
}

.social-icons {
  padding-top: 28px;
}

.footer-links {
  display: block;
}
.footer-links li {
  text-align: center;
}

/* GroupEnd */
/* GroupBegin Apps */
/* GroupEnd */
/* GroupBegin Homepage */
#hp-slideshow-outer #hp-slideshow .mmg-container {
  display: block;
  height: auto !important;
}
#hp-slideshow-outer #hp-slideshow .mmg-viewer {
  width: auto;
  position: relative;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-outer {
  width: auto;
}
#hp-slideshow-outer #hp-slideshow .mmg-description {
  width: auto;
  padding: 24px;
}
#hp-slideshow-outer #hp-slideshow .mmg-description:empty {
  padding: 0;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-title {
  font-size: 1.5rem;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-caption {
  font-size: 1rem;
  padding-top: 13px;
}
#hp-slideshow-outer #hp-slideshow .mmg-control.play-pause {
  width: 39px;
  height: 39px;
  bottom: 14px;
}
#hp-slideshow-outer #hp-slideshow .mmg-description-links {
  padding-top: 0;
}

.hp-row .app .has-slider-controls {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hp-row .app:not(.upcomingevents) .cs-header-text-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.hp-row .app:not(.upcomingevents) .cs-header-text-wrap * {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.hp-row .app:not(.upcomingevents) .cs-header-text-wrap h1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 0;
}
.hp-row .app:not(.upcomingevents) .cs-header-text-wrap .cs-header-sub-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.hp-row .app.upcomingevents .ui-widget-header {
  width: auto;
  padding-left: 0;
  padding-bottom: 12px;
}
.hp-row .app.upcomingevents .ui-widget-detail {
  width: auto;
}
.hp-row .app.upcomingevents .has-slider-controls .view-calendar-link {
  margin-bottom: 17px;
}
.hp-row .app.upcomingevents li {
  padding: 0 17px;
}
.hp-row .app.upcomingevents .ui-articles {
  margin: 0 -17px;
}
.hp-row .app .ui-widget-header .more-link {
  margin-right: 0;
}
.hp-row .headlines .cs-article-slider .ui-articles {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.hp-row .headlines .cs-article-slider .ui-articles .ui-article {
  margin-bottom: 10px;
}
.hp-row .headlines .cs-article-slider .ui-article-thumb {
  float: left;
  max-width: calc(50% - 16px);
  margin-right: 33px;
  margin-bottom: 5px;
}
.hp-row .headlines .cs-article-slider .ui-article-thumb .img {
  margin: 0;
}
.hp-row .headlines .ui-article-thumb .img {
  margin-bottom: 22px;
}
.hp-row .headlines .ui-articles {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hp-row .headlines .ui-articles .ui-article {
  margin-bottom: 34px;
}
.hp-row .headlines .ui-articles li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.hp-row .headlines .ui-articles li:last-child .ui-article, .hp-row .headlines .ui-articles li:nth-last-child(2) .ui-article {
  margin-bottom: 10px;
}
.hp-row .upcomingevents {
  display: block;
}
.hp-row .upcomingevents .cs-header-text-wrap {
  text-align: center;
}
.hp-row.three {
  padding-top: 42px;
  padding-bottom: 25px;
}
.hp-row.three .content-wrap {
  display: block;
}
.hp-row.three[data-tabbed-social=true] .hp-column.one {
  width: auto;
}
.hp-row.three[data-tabbed-social=true] .hp-column.two {
  width: auto;
  margin-left: 0;
}
.hp-row.four {
  padding-top: 25px;
  padding-bottom: 5px;
}
.hp-row.four .headlines h1.ui-article-title {
  font-size: 1rem;
}
.hp-row.five {
  padding-top: 5px;
  padding-bottom: 50px;
}
.hp-row.six {
  padding-top: 60px;
  padding-bottom: 39px;
}
.hp-row.six .content-wrap {
  max-width: none;
}
.hp-row.six .hp-stats {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hp-row.six .hp-stats li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-bottom: 30px;
}
.hp-row.six .hp-stats .lg-text {
  font-size: 4.8125rem;
}
.hp-row.seven {
  display: block;
}
.hp-row.seven .hp-column.two {
  width: auto;
  border-left-width: 0;
  border-top: 1px solid #D0D0D0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 82px;
}
.hp-row .fr-container {
  margin: 0 auto;
}
.hp-row .fr-image {
  max-width: 215px;
  top: -45px;
}
.hp-row .fr-row.two {
  padding-left: 261px;
}
.hp-row .fr-row.one {
  padding-left: 242px;
}

.ui-hp div.ui-widget.app div.ui-widget-header .cs-header-sub-text {
  margin-top: 2px;
  margin-bottom: 9px;
}

.cs-ts-tabs-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hp-row .headlines .cs-slider-controls {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 0;
}

.ui-widget-footer.has-extra-link {
  text-align: center;
}

#gb-page a.ui-btn-toolbar.rss {
  margin-right: 0;
}

/* GroupEnd */
/* GroupBegin Subpage */
#sp-content .content-wrap {
  display: block;
}

.sp-column.one {
  padding-bottom: 40px;
}

.sp-column.one .ui-widget-header::after {
  font-family: "template-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e912";
  position: absolute;
  right: 3px;
  top: 8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-size: 22px;
}

.sp-column.one .open .ui-widget-header::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.sp-column.two {
  padding-left: 0;
}

[data-use-social-sharing=true] .sp-column.two {
  padding-right: 0;
}

.sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout],
[data-use-social-sharing=true] .sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout],
.sp.spn [data-use-social-sharing=true] .sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout] {
  margin-left: -25px;
  width: calc(100% + 50px);
}

.sp-column.three {
  text-align: center;
}

.cs-social-media-share-buttons ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sp.spn [data-use-social-sharing=true] .sp-column.two {
  padding-right: 0;
}

/* GroupEnd */