<div id="gb-page" class="hp [$SiteAlias$]">
	<header id="gb-header">
		<div class="content-wrap">
			<div class="header-column one">
				<div id="gb-logo"></div>
				<div id="gb-sitename">
					<h1>Council <span>of the</span> Great City Schools</h1>
					<p>THE NATION'S VOICE FOR URBAN EDUCATION</p>
				</div>
			</div>
			<div class="header-column two">
				<nav id="gb-channel-bar" title="main navigation">
					[$ChannelListNavigation props="DisplayType:Text;SectionMax:<SWCtrl controlname="Custom" props="Name:sectionMax" />;DirectoryType:6;DisplayHomeButton:<SWCtrl controlname="Custom" props="Name:showHomeChannel" />;DisplayCalendarButton:<SWCtrl controlname="Custom" props="Name:showCalendarChannel" />;HideSingleSectionDD:<SWCtrl controlname="Custom" props="Name:hideSingleSectionDD" />"$]
				</nav>
				<div class="cs-mystart-button search">
					<div class="cs-button-selector" tabindex="0" aria-label='Open Search' role="button" aria-expanded="false" aria-haspopup="true"></div>
				</div>
			</div>
		</div>
		<div class="cs-mystart-dropdown translate">
			<div class="cs-dropdown-selector" tabindex="0" aria-label='Translate' role="button" aria-expanded="false" aria-haspopup="true"><span>Translate</span></div>
			<div class="cs-dropdown" aria-hidden="true" style="display:none;"></div>
		</div>
	</header>
	<main>
		<section class="hp-row one" id="hp-slideshow-outer">
			<div id="hp-slideshow">
				[$ContentRegion props="ContainerNumber:10"$]
			</div>
		</section>
		<section class="hp-row two" id="gb-icons" data-icon-num='<SWCtrl controlname="Custom" props="Name:numOfIcons" />'>
			<div class="content-wrap"></div>
		</section>
		<section class="hp-row three" data-tabbed-social='<SWCtrl controlname="Custom" props="Name:useRegionCTabbedSocial" />'>
			<div class="content-wrap">
				<div class="hp-column one">
					<swctrl controlname="SkipNav" props="" />
					[$ContentRegion props="ContainerNumber:1"$]
				</div>
				<div class="hp-column two">
					[$ContentRegion props="ContainerNumber:2"$]
				</div>
			</div>
		</section>
		<section class="hp-row four">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:3"$]
			</div>
		</section>
		<section class="hp-row five">
			<div class="content-wrap">
				[$ContentRegion props="ContainerNumber:4"$]
			</div>
		</section>
		<section class="hp-row six" data-toggle='<SWCtrl controlname="Custom" props="Name:useStatsSection" />' data-num-stats='<SWCtrl controlname="Custom" props="Name:bnNumOfIcons" />'>
			<div class="content-wrap">
				<div class="ui-widget app numbers">
					<div class="ui-widget-header">
						<h1><SWCtrl controlname="Custom" props="Name:statsHeaderText" /></h1>
					</div>
					<div class="ui-widget-detail">
						<ul class="hp-stats">
							<li data-icon-animate='<SWCtrl controlname="Custom" props="Name:bnAnimateIcon1LargeText" />' data-icon-percentage='<SWCtrl controlname="Custom" props="Name:bnIcon1LargeTextPercentage" />'>
								<span class="hp-stat">
									<span class="text">
										<span class="lg-text"><span class="anim-text"><SWCtrl controlname="Custom" props="Name:bnIcon1LargeText" /></span><span class="bn-icon-percent">%</span></span>
										<span class="sm-text"><SWCtrl controlname="Custom" props="Name:bnIcon1SmallText" /></span>
									</span>
								</span>
							</li>
							<li data-icon-animate='<SWCtrl controlname="Custom" props="Name:bnAnimateIcon2LargeText" />' data-icon-percentage='<SWCtrl controlname="Custom" props="Name:bnIcon2LargeTextPercentage" />'>
								<span class="hp-stat">
									<span class="text">
										<span class="lg-text"><span class="anim-text"><SWCtrl controlname="Custom" props="Name:bnIcon2LargeText" /></span><span class="bn-icon-percent">%</span></span>
										<span class="sm-text"><SWCtrl controlname="Custom" props="Name:bnIcon2SmallText" /></span>
									</span>
								</span>
							</li>
							<li data-icon-animate='<SWCtrl controlname="Custom" props="Name:bnAnimateIcon3LargeText" />' data-icon-percentage='<SWCtrl controlname="Custom" props="Name:bnIcon3LargeTextPercentage" />'>
								<span class="hp-stat">
									<span class="text">
										<span class="lg-text"><span class="anim-text"><SWCtrl controlname="Custom" props="Name:bnIcon3LargeText" /></span><span class="bn-icon-percent">%</span></span>
										<span class="sm-text"><SWCtrl controlname="Custom" props="Name:bnIcon3SmallText" /></span>
									</span>
								</span>
							</li>
							<li data-icon-animate='<SWCtrl controlname="Custom" props="Name:bnAnimateIcon4LargeText" />' data-icon-percentage='<SWCtrl controlname="Custom" props="Name:bnIcon4LargeTextPercentage" />'>
								<span class="hp-stat">
									<span class="text">
										<span class="lg-text"><span class="anim-text"><SWCtrl controlname="Custom" props="Name:bnIcon4LargeText" /></span><span class="bn-icon-percent">%</span></span>
										<span class="sm-text"><SWCtrl controlname="Custom" props="Name:bnIcon4SmallText" /></span>
									</span>
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="hp-row seven">
			<div class="hp-column one">
				[$ContentRegion props="ContainerNumber:5"$]
			</div>
			<div class="hp-column two" data-toggle='<SWCtrl controlname="Custom" props="Name:useFeaturedReportSection" />'>
				<div class="fr-container">
					<div class="fr-row one">
						<h2><SWCtrl controlname="Custom" props="Name:frTitle" /></h2>
					</div>
					<div class="fr-row two">
						<a href='<SWCtrl controlname="Custom" props="Name:frLinkUrl" />' target='<SWCtrl controlname="Custom" props="Name:frLinkTarget" />'><span><SWCtrl controlname="Custom" props="Name:frLinkText" /></span></a>
					</div>
					<div class="fr-image"></div>
				</div>
			</div>
		</section>
	</main>
	<footer title="main footer">
		<section class="footer-row one">
			<div class="footer-inner-row one">
				<h2>Council <span>of the</span> Great City Schools</h2>
				<p>[$SiteAddressOne$],<br class="show480"/> [$SiteCity$], [$SiteState$] [$SiteZip$] <br class="show768"/><span>PHONE: [$SiteContactPhone$]</span><br class="show480"/> <span>FAX: [$SiteContactFax$]</span></p>
				<ul class="social-icons">

				</ul>
			</div>
			<div class="footer-inner-row two">
				<ul class="footer-links">
					<li data-content='<SWCtrl controlname="Custom" props="Name:ftLink1Text" />'>
						<a href='<SWCtrl controlname="Custom" props="Name:ftLink1Url" />' target='<SWCtrl controlname="Custom" props="Name:ftLink1Target" />'><SWCtrl controlname="Custom" props="Name:ftLink1Text" /></a>
					</li>
					<li data-content='<SWCtrl controlname="Custom" props="Name:ftLink2Text" />'>
						<a href='<SWCtrl controlname="Custom" props="Name:ftLink2Url" />' target='<SWCtrl controlname="Custom" props="Name:ftLink2Target" />'><SWCtrl controlname="Custom" props="Name:ftLink2Text" /></a>
					</li>
					<li data-content='<SWCtrl controlname="Custom" props="Name:ftLink3Text" />'>
						<a href='<SWCtrl controlname="Custom" props="Name:ftLink3Url" />' target='<SWCtrl controlname="Custom" props="Name:ftLink3Target" />'><SWCtrl controlname="Custom" props="Name:ftLink3Text" /></a>
					</li>
					<li data-content='<SWCtrl controlname="Custom" props="Name:ftLink4Text" />'>
						<a href='<SWCtrl controlname="Custom" props="Name:ftLink4Url" />' target='<SWCtrl controlname="Custom" props="Name:ftLink4Target" />'><SWCtrl controlname="Custom" props="Name:ftLink4Text" /></a>
					</li>
					<li data-content='<SWCtrl controlname="Custom" props="Name:ftLink5Text" />'>
						<a href='<SWCtrl controlname="Custom" props="Name:ftLink5Url" />' target='<SWCtrl controlname="Custom" props="Name:ftLink5Target" />'><SWCtrl controlname="Custom" props="Name:ftLink5Text" /></a>
					</li>
					<li data-content='<SWCtrl controlname="Custom" props="Name:ftLink6Text" />'>
						<a href='<SWCtrl controlname="Custom" props="Name:ftLink6Url" />' target='<SWCtrl controlname="Custom" props="Name:ftLink6Target" />'><SWCtrl controlname="Custom" props="Name:ftLink6Text" /></a>
					</li>
					<li data-content='<SWCtrl controlname="Custom" props="Name:ftLink7Text" />'>
						<a href='<SWCtrl controlname="Custom" props="Name:ftLink7Url" />' target='<SWCtrl controlname="Custom" props="Name:ftLink7Target" />'><SWCtrl controlname="Custom" props="Name:ftLink7Text" /></a>
					</li>
					<li data-content='<SWCtrl controlname="Custom" props="Name:ftLink8Text" />'>
						<a href='<SWCtrl controlname="Custom" props="Name:ftLink8Url" />' target='<SWCtrl controlname="Custom" props="Name:ftLink8Target" />'><SWCtrl controlname="Custom" props="Name:ftLink8Text" /></a>
					</li>
				</ul>
			</div>
		</section>
		<section class="footer-row two">
			<div class="content-wrap">
				<div class="footer-column one"></div>
				<div class="footer-column two">
					<a class="sitemap-link" href="/site/Default.aspx?PageType=15&SiteID=[$SiteID$]&SectionMax=15&DirectoryType=6">
						<span>Site Map</span>
					</a>
					<div class="cs-mystart-dropdown user-options">
						<div class="cs-dropdown-selector" tabindex="0" aria-label='User Options' role="button" aria-expanded="false" aria-haspopup="true"></div>
						<div class="cs-dropdown" aria-hidden="true" style="display:none;">
							<ul class="cs-dropdown-list"></ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</footer>
	<section id="gb-search" aria-hidden="true">
		<div class="gb-search-inner">
			<div class="content-wrap">
				<div class="search-row one">
					<form id="gb-search-form">
						<label for="gb-search-input">Search</label>
						<input type="text" id="gb-search-input" tabindex="-1" value="I'm searching for...">
						<button type="submit" form="gb-search-form" tabindex="-1" id="gb-search-button" aria-label="Submit Search"></button>
					</form>
				</div>
				<div class="search-row two">
					<ul class="search-links">
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink1Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink1Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink1Target" />'><SWCtrl controlname="Custom" props="Name:srLink1Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink2Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink2Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink2Target" />'><SWCtrl controlname="Custom" props="Name:srLink2Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink3Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink3Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink3Target" />'><SWCtrl controlname="Custom" props="Name:srLink3Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink4Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink4Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink4Target" />'><SWCtrl controlname="Custom" props="Name:srLink4Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink5Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink5Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink5Target" />'><SWCtrl controlname="Custom" props="Name:srLink5Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink6Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink6Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink6Target" />'><SWCtrl controlname="Custom" props="Name:srLink6Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink7Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink7Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink7Target" />'><SWCtrl controlname="Custom" props="Name:srLink7Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink8Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink8Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink8Target" />'><SWCtrl controlname="Custom" props="Name:srLink8Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink9Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink9Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink9Target" />'><SWCtrl controlname="Custom" props="Name:srLink9Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink10Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink10Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink10Target" />'><SWCtrl controlname="Custom" props="Name:srLink10Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink11Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink11Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink11Target" />'><SWCtrl controlname="Custom" props="Name:srLink11Text" /></a>
						</li>
						<li data-content='<SWCtrl controlname="Custom" props="Name:srLink12Text" />'>
							<a href='<SWCtrl controlname="Custom" props="Name:srLink12Url" />' target='<SWCtrl controlname="Custom" props="Name:srLink12Target" />'><SWCtrl controlname="Custom" props="Name:srLink12Text" /></a>
						</li>
					</ul>
				</div>
				<button id="search-control-close" aria-label="Close Search" tabindex="-1" aria-expanded="false" aria-controls="gb-search"></button>
			</div>
		</div>
	</section>
</div>
