<div id="gb-page" class="sp spn [$SITEALIAS$] drt-mywaypremium templatename" data-body-color="<SWCtrl controlname="Custom" props="Name:bodyTextColor" />">
	<header class="noprint">
    	<section id="gb-mystart-outer" class="gb-section-parent gb-section-pad">
        	<div id="gb-mystart" class="gb-section">
            	<div class="gb-mystart left"></div>
                <div class="gb-mystart right">
                	<div class="cs-mystart-dropdown user-options">
                        <div class="cs-selector" tabindex="0" aria-label="<SWCtrl controlname="Custom" props="Name:userOptionsDropdownText" />" role="button" aria-expanded="false" aria-haspopup="true"><SWCtrl controlname="Custom" props="Name:userOptionsDropdownText" /></div>
                        <div class="cs-dropdown" aria-hidden="true" style="display:none;">
                            <ul class="cs-dropdown-list"></ul>
                        </div>
                	</div>
                    <div id="gb-search" class="ui-clear">
                        <form id="gb-search-form">
                            <label for="gb-search-input" class="cs-ally-hidden">Search</label>
                            <input type="text" id="gb-search-input" class="gb-search-input" value="Search..." />
                            <button type="submit" id="gb-search-button"><span class="cs-ally-hidden">Submit Search</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section id="gb-header-outer" class="gb-section-parent gb-section-pad">
            <div id="gb-header" class="gb-section">
                <div class="gb-header left">
                    <div id="gb-logo-outer" data-show-desktop-logo="<SWCtrl controlname="Custom" props="Name:showSchoolLogo" />" data-show-mobile-logo="<SWCtrl controlname="Custom" props="Name:showLogoMobile" />">
                        <div id="gb-logo"></div>
                    </div>
                    <div id="gb-sitename-outer">
                        <div id="gb-sitename">
                            <h1 class="sitename-one" data-show-school-name="<SWCtrl controlname="Custom" props="Name:showSchoolName" />">
                                <SWCtrl controlname="Custom" props="Name:schoolNameText" />
                            </h1>
                            <p class="sitename-tagline" data-show-tagline="<SWCtrl controlname="Custom" props="Name:showTagline" />">
                                <SWCtrl controlname="Custom" props="Name:schoolTaglineText" />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="gb-header right">
                	<div id="gb-global-icons"></div>
                </div>
            </div>
        </section>
    </header>
    <nav class="noprint">
        <section id="gb-channel-list-outer" class="gb-section-parent gb-section-pad">
            <div id="gb-channel-list" class="gb-section"></div>
        </section>
    </nav>
    <main data-primary-text-color="<SWCtrl controlname="Custom" props="Name:primaryEditorStyleTxtColor" />" data-secondary-text-color="<SWCtrl controlname="Custom" props="Name:secondaryEditorStyleTxtColor" />" data-grey-border-text-color="<SWCtrl controlname="Custom" props="Name:greyBorderEditorStyleTxtColor" />">
        <section id="spn-content-outer" class="gb-section-parent gb-section-pad">
            <div id="spn-content" class="gb-section ui-clear">
                <div id="gb-breadcrumbs" class="noprint" data-show-breadcrumbs="<SWCtrl controlname="Custom" props="Name:breadcrumbs" />">
                    [$Breadcrumb props="MaxLevels:6"$]
                </div>
                [$ContentLayoutPlaceholder$]
            </div>
        </section>
    </main>
    <footer class="noprint">
        <section id="gb-footer-outer" class="gb-section-parent gb-section-pad">
            <div id="gb-footer" class="gb-section ui-clear">
                <div class="gb-footer one">
                    <p class="gb-footer-contact address-one">[$SiteAddressOne$]</p>
                    <p class="gb-footer-contact address-two">[$SiteCity$], [$SiteState$] [$SiteZip$]</p>
                    <a data-show-link="<SWCtrl controlname="Custom" props="Name:showGetDirectionsLink" />" class="footer-contact-link directions" href="<SWCtrl controlname="Custom" props="Name:getDirectionsLinkUrl" />" target="<SWCtrl controlname="Custom" props="Name:getDirectionsLinkTarget" />"><span><SWCtrl controlname="Custom" props="Name:getDirectionsLinkText" /></span></a>
                    <p class="gb-footer-contact phone" x-ms-format-detection="none">[$SiteContactPhone$]</p>
                    <p class="gb-footer-contact fax" x-ms-format-detection="none">[$SiteContactFax$]</p>
                    <a data-show-link="<SWCtrl controlname="Custom" props="Name:showEmailUsLink" />" class="footer-contact-link email" href="<SWCtrl controlname="Custom" props="Name:emailUsLinkUrl" />" target="<SWCtrl controlname="Custom" props="Name:emailUsLinkTarget" />"><span><SWCtrl controlname="Custom" props="Name:emailUsLinkText" /></span></a>
                </div>
                <div class="gb-footer two">
                    <a class="footer-sitemap-btn" href='/site/Default.aspx?PageType=15&SiteID=[$SITEID$]&SectionMax=<SWCtrl controlname="Custom" props="Name:sectionMax" />&DirectoryType=6'>
                        <span>Site Map</span>
                    </a>
                    <div id="gb-footer-links"></div>
                    <div id="gb-social-media-icons" class="hidden"></div>
                </div>
            </div>
        </section>
        <section id="gb-schoolwires-footer-outer" class="gb-section-parent gb-section-pad">
            <div id="gb-schoolwires-footer" class="gb-section border-box">
                <div class="gb-schoolwires-footer top">
                    <div id="gb-footer-disclaimer" data-show-disclaimer="<SWCtrl controlname="Custom" props="Name:disclaimerToggle" />">
                        <span><SWCtrl controlname="Custom" props="Name:disclaimerText" /></span>
                    </div>
                </div>
                <div class="gb-schoolwires-footer bottom" data-show-disclaimer="<SWCtrl controlname="Custom" props="Name:disclaimerToggle" />">
                    <div class="gb-schoolwires-footer logo"></div>
                    <div id="gb-schoolwires-footer-links-copyright">
                        <div class="gb-schoolwires-footer links"></div>
                        <div class="gb-schoolwires-footer copyright"></div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>
