@import "../../../utilities/css/utilities";

/* GroupBegin Global */
.cs-template--show-768 {
	display: block;
}
.cs-template--hide-768 {
	display: none;
}
/* GroupEnd */

/* GroupBegin Responsive Menu */

/* GroupEnd */

/* GroupBegin Mystart */

/* GroupEnd */ 

/* GroupBegin Header */

/* GroupEnd */

/* GroupBegin Channel Bar */
ul.sw-channel-list li.sw-channel-item:last-child ul.sw-channel-dropdown {
	left: auto;
	right: 0px;
}
/* GroupEnd */

/* GroupBegin Photo Area */

/* GroupEnd */

/* GroupBegin Body */

/* GroupEnd */

/* GroupBegin Footer */

/* GroupEnd */

/* GroupBegin App Styles */
.ui-column-one-quarter.region {
	width: 50%;
	float: left;
	clear: left;
}
.ui-column-one-third.region {
	width: 50%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 50%;
	float: left;
}
.region.right {
	float: left;
}
.region.clearleft {
	clear: none;
}      
/* GroupEnd */

/* GroupBegin Homepage Specific */

/* GroupEnd */

/* GroupBegin Subpage Specific */

/* GroupEnd */

/* GroupBegin Subpage No Nav Specific */

/* GroupEnd */