@import "../../../utilities/css/utilities";

$bodyFont: Poppins, sans-serif;;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:85vw;
	padding:0px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "480";
}
.show480 {
	display: block;
}
.hide480 {
	display: none;
}
.cs-global-icons {
	display: block;
	padding:28px 0;

	li {
		width:auto;
		display: block;

		a {
			flex-direction: row;
			width:auto;
			height:auto;
			justify-content: flex-start;
			padding: 11px 16px;

			&:hover,
			&:focus {
				padding-top: 11px;

				.icon {
					margin-bottom: 0;
				}
			}
		}
	}
	.icon {
		font-size: 2.2rem;
		margin-bottom: 0;
		width: 42px;
		text-align: center;
		margin-right:17px;
	}
	.text {
		max-width:none;
		text-align: left;
	}
}
.hp-row .content-wrap,
.content-wrap {
	padding:0 16px;
}
/* GroupEnd */

/* GroupBegin Header */
.header-column {
	flex-direction: column;
	align-items: center;

	&.two {
		display: block;
		padding-top: 18px;
	}
}
#gb-channel-bar {
	margin-bottom: 11px;
}
.cs-mystart-dropdown.translate {
	position: relative;

	.cs-dropdown-selector {
		width: auto;
	}
}
#gb-header {
	padding-top: 20px;
}
#gb-sitename {
	text-align: center;

	p {
		line-height: 1.1;
    	margin-top: 5px;
	}
}
#gb-logo {
	padding-right: 0;
	margin-bottom: 10px;
}
#gb-channel-bar {
	padding-right: 0;
}
/* GroupEnd */

/* GroupBegin Footer */
.footer-row {

	&.one {
		padding-top: 48px;
		padding-left: 8px;
		padding-right: 8px;
	}
	h2 {
		font-size: 1.875rem;
		line-height: 1.2;
		margin-bottom: 20px;
	}
	.show480 {
		display: block;
	}
}
.footer-links {
	padding-left: 8px;
	padding-right: 8px;

	li {
		margin:0;
	}
}
/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */
.ui-hp div.ui-widget.app div.ui-widget-header {
	font-size: 1.5rem;
}
#hp-slideshow-outer {
	#hp-slideshow {
		.mmg-control {
			position: relative;
			order:1;
			color:#fff;

			&::before {
				display: none;
			}

			&.play-pause {
				background:transparent;
				order:2;
				bottom: auto;
				left: auto;

				&.playing,
				&.paused {
					&::after {
						font-size: 16px;
					}
				}
				&:hover,
				&:focus {
					background:transparent;
					border-color:transparent;
				}
			}
			&.next {
				order:3;
				right: auto;
				top: auto;
			}
			&.back {
				left: auto;
				top: auto;
			}
		}
		.mmg-description {
			text-align: center;
			padding-top:15px;
			padding-bottom: 15px;
		}
		.mmg-description-title {
			font-size: 1.25rem;
			line-height: 1.6;
		}
		.mmg-description-caption {
			padding-top: 4px;
		}
		.mmg-description-link {
			margin-right:0;
		}
		.mmg-description-links {
			display: flex;
		    flex-direction: column;
		    align-items: center;
		}
	}
}
.cs-mmg-control-wrapper {
	background:#084F84;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hp-row {
	.headlines {
		.ui-articles {
			display: block;
			margin:0;
		}
		li {
			padding: 0;
		}
		.cs-article-slider {
			li {
				text-align: center;
			}
			.ui-article-thumb {
				float:none;
				margin-right: 0;

				.img {
					margin-right: 0;
					margin-top: 0;
					margin-bottom: 11px;

					img {
						max-width:none !important;
						max-height:none !important;
					}
				}
			}
		}
	}
	&.five {
		padding-bottom: 60px;
	}
	&.six {
		.hp-stats {
			display: block;
		}
	}
	&.seven {
		.hp-column {
			&.two {
				padding: 0;
			}
		}
	}
	.fr-container {
		display: flex;
		flex-direction: column;
		text-align: center;
	    box-shadow: none;
		padding-top: 45px;

		* {
			order:1;
		}
	}
	.fr-row {
		padding: 15px;
		&.one {
			order:2;
			padding-left: 16px;
			padding-right: 16px;
			padding-top: 77px;
			padding-bottom: 10px;
		}
		&.two {
			order:3;
			background:#fff;
			padding-left: 16px;
			padding-right: 16px;
			padding-bottom: 48px;

			a {
				background:#1072BF;
				display: block;
				padding: 14px 10px 15px;
				border-radius: 0 0 3px 3px;
    			box-shadow: 0px 0px 29px #00000034;
			}
		}
	}
	.fr-image {
		position: relative;
		left:auto;
		top:auto;
		margin:0 auto -54px;
	}
}
.hp-row .app.upcomingevents .has-slider-controls h1 {
	margin-bottom: 2px;
}
.hp-row .app.upcomingevents .has-slider-controls .view-calendar-link {
	margin-bottom: 11px;
}
.hp-row .app.upcomingevents li {
	padding: 0 16px;
}
.hp-row .app.upcomingevents .ui-articles {
	margin: 0 -16px;
}
/* GroupEnd */

/* GroupBegin Subpage */

/* GroupEnd */
