@import "../../../utilities/css/utilities";

$bodyFont: Poppins, sans-serif;;

@mixin pseudo-background {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
}
@mixin pseudo {
	display: block;
	content:'';
	position:absolute;
}
@mixin transition($speed) {
	-ms-transition: all $speed ease 0s;
	-moz-transition: all $speed ease 0s;
	-webkit-transition: all $speed ease 0s;
	transition: all $speed ease 0s;
}
@mixin ally {
	width: 0 !important;
	height: 0 !important;
	display: block !important;
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
}
@mixin content-wrap {
	max-width:85vw;
	padding:0px;
	margin: 0 auto;
	position: relative;
}
@mixin template-icon {
	font-family: 'template-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GroupBegin Global */
body:before {
	content: "768";
}
.show768 {
	display: block;
}
.hide768 {
	display: none;
}
.ui-column-one-quarter.region {
	width: 50%;
	float: left;
	clear: left;
}
.ui-column-one-third.region {
	width: 50%;
	float: left;
}
.ui-column-two-thirds.region {
	width: 50%;
	float: left;
}
.region.right {
	float:left;
}
.region.clearleft {
	clear: none;
}
.cs-global-icons {
	flex-wrap: wrap;

	li {
		width: 33.3333%;
	}
}
.content-wrap {
	padding:0 24px;
}
#gb-icons .content-wrap {
	padding: 0;
}
#gb-page {
	padding-top: 0 !important;
}
/* GroupEnd */

/* GroupBegin Header */
#gb-header {
	padding-top: 25px;
	padding-bottom: 24px;
	position: relative;
	height: auto !important;
}
#gb-sitename {
	top:auto !important;
}
.header-column.two {
	padding-top: 21px;
}
#sw-channel-list-container,
.cs-mystart-button.search {
	display: none;
}
#gb-channel-bar {
	flex-grow: 1;
	padding-top:0;
	padding-right: 15px;
}
#rs-menu-btn {
	font-size: 1rem;
	font-weight: 700;
	background:#fff;
	padding: 14px 18px 14px 18px;
	border-radius: 23px;
	box-shadow: 0px 3px 6px #00000029;
	width: 100%;
	box-sizing: border-box;
	line-height: 1;
	border:1px solid #fff;
	color:#1072BF;
	text-align: center;
	float:none;

	&::before {
		display: none;
	}

	span {
		padding: 0px 5px 0px 37px;
		position: relative;

		&::before {
			@include template-icon;
			content:icon("e90a");
			background:transparent;
			padding:0;
			position: absolute;
			left: 5px;
			top: -2px;
			font-size: 19px;
			color:#1072BF;
		}
	}
}
.cs-mystart-dropdown.translate {
	position: relative;
	right:auto !important;
	bottom: auto;
	flex-grow: 0;
}
#gb-header {
	.content-wrap {
		display: block;
	}
}
/* GroupEnd */

/* GroupBegin Footer */
.footer-row {

	.show768 {
		display: block;
	}
	&.two {
		padding-top: 10px;

		.content-wrap {
			flex-direction: column-reverse;
		}
	}
	p span {
		padding: 0 11px;
	}
}
.sitemap-link {
	margin-right: 8px;
}
.cs-mystart-dropdown.user-options {
	margin-right: 0;
}
.social-icons {
	padding-top: 28px;
}
.footer-links {
	display: block;

	li {
		text-align: center;
	}
}
/* GroupEnd */

/* GroupBegin Apps */

/* GroupEnd */

/* GroupBegin Homepage */
#hp-slideshow-outer {
	#hp-slideshow {
		.mmg-container {
			display: block;
			height:auto !important;
		}
		.mmg-viewer {
			width:auto;
			position: relative;
		}
		.mmg-description-outer {
			width:auto;
		}
		.mmg-description {
			width:auto;
			padding: 24px;

			&:empty {
				padding: 0;
			}
		}
		.mmg-description-title {
			font-size: 1.5rem;
		}
		.mmg-description-caption {
			font-size: 1rem;
			padding-top: 13px;
		}
		.mmg-control.play-pause {
			width:39px;
			height:39px;
			bottom:14px;
		}
		.mmg-description-links {
			padding-top: 0;
		}
	}
}
.hp-row {
	.app {
		.has-slider-controls {
			flex-direction: column;
			align-items: center;
		}
		&:not(.upcomingevents) {
			.cs-header-text-wrap {
				flex-direction: column;
				align-items: center;
				text-align: center;

				* {
					order:3;
				}
				h1 {
					order:1;
					margin-right: 0;
				}
				.cs-header-sub-text {
					order:2;
				}
			}
		}
		&.upcomingevents {
			.ui-widget-header {
				width:auto;
				padding-left: 0;
				padding-bottom: 12px;
			}
			.ui-widget-detail {
				width: auto;
			}
			.has-slider-controls {
				.view-calendar-link {
					margin-bottom: 17px;
				}
			}
			li {
				padding:0 17px;
			}
			.ui-articles {
				margin: 0 -17px;
			}
		}
		.ui-widget-header {
			.more-link {
				margin-right: 0;
			}
		}
	}
	.headlines {
		.cs-article-slider {
			.ui-articles {
				flex-wrap: nowrap;

				.ui-article {
					margin-bottom: 10px;
				}
			}
			.ui-article-thumb {
				float: left;
				max-width: calc(50% - 16px);
				margin-right: 33px;
				margin-bottom: 5px;

				.img {
					margin: 0;
				}
			}
		}
		.ui-article-thumb {
			.img {
				margin-bottom: 22px;
			}
		}
		.ui-articles {
			flex-wrap: wrap;

			.ui-article {
				margin-bottom: 34px;
			}

			li {
				flex-basis: 50%;

				&:last-child,
				&:nth-last-child(2) {
					.ui-article {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	.upcomingevents {
		display: block;

		.cs-header-text-wrap {
			text-align: center;
		}
	}
	&.three {
		padding-top: 42px;
		padding-bottom: 25px;

		.content-wrap {
			display: block;
		}
		&[data-tabbed-social=true] .hp-column {
			&.one {
				width:auto;
			}
			&.two {
				width:auto;
				margin-left: 0;
			}
		}
	}
	&.four {
		padding-top: 25px;
		padding-bottom: 5px;

		.headlines h1.ui-article-title {
			font-size: 1rem;
		}
	}
	&.five {
		padding-top: 5px;
		padding-bottom: 50px;
	}
	&.six {
		padding-top: 60px;
		padding-bottom: 39px;

		.content-wrap {
			max-width: none;
		}
		.hp-stats {
			flex-wrap: wrap;

			li {
				flex-basis: 50%;
				padding-bottom: 30px;
			}
			.lg-text {
				font-size: 4.8125rem;
			}
		}
	}
	&.seven {
		display: block;

		.hp-column {
			&.two {
				width:auto;
				border-left-width:0;
				border-top:1px solid #D0D0D0;
				padding-left: 24px;
				padding-right: 24px;
				padding-bottom: 82px;
			}
		}
	}
	.fr-container {
		margin: 0 auto;
	}
	.fr-image {
		max-width: 215px;
		top: -45px;
	}
	.fr-row.two {
		padding-left: 261px;
	}
	.fr-row.one {
		padding-left: 242px;
	}
}
.ui-hp div.ui-widget.app div.ui-widget-header .cs-header-sub-text {
	margin-top: 2px;
	margin-bottom: 9px;
}
.cs-ts-tabs-container {
	justify-content: center;
}
.hp-row .headlines .cs-slider-controls {
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 0;
}
.ui-widget-footer.has-extra-link {
	text-align: center;
}
#gb-page a.ui-btn-toolbar.rss {
	margin-right: 0;
}






/* GroupEnd */

/* GroupBegin Subpage */
#sp-content {
	.content-wrap {
		display: block;
	}
}
.sp-column.one {
	padding-bottom: 40px;
}
.sp-column.one .ui-widget-header::after {
	@include template-icon;
	content:icon('e912');
	position: absolute;
	right:3px;
	top:8px;
	transform: rotate(180deg);
	@include transition(.4s);
	font-size: 22px;
}
.sp-column.one .open .ui-widget-header::after {
	transform: rotate(0deg);
}
.sp-column.two {
	padding-left:0;
}
[data-use-social-sharing=true] .sp-column.two {
	padding-right: 0;
}
.sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout],
[data-use-social-sharing=true] .sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout],
.sp.spn [data-use-social-sharing=true] .sp-column.two #sw-content-layout-wrapper > div[id*=sw-content-layout] {
	margin-left:-25px;
	width:calc(100% + 50px);
}
.sp-column.three {
	text-align: center;
}
.cs-social-media-share-buttons ul {
	justify-content: center;
}
.sp.spn [data-use-social-sharing=true] .sp-column.two {
	padding-right: 0;
}
/* GroupEnd */
